@font-face {
    font-family: Inter;
    src: url(../fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter-SemiBold;
    src: url(../fonts/static/Inter-SemiBold.ttf);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--black-primary);
}

:root {
    --black-primary: #1f1f20;
    --black-secondary: #0e0f11;
    --black-tertiary: #1e2025;
    --gray-primary: #dedfd6;
    --gray-secondary: #6d6d6e;
    --gray-tertiary: #a7a7a8;
    --primary-green: #11b881;
    --secondary-green: #0f9568;
    --other: rgb(57, 53, 53);
    --red: rgb(187, 43, 43);
    --dark-red: #740d00;
    --yellow: rgb(174, 139, 43);
    --green: rgb(37, 84, 15);
}

/* Bootstrap Stuff */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler {
    outline: none;
    box-shadow: none;
    border: none;
    color: var(--gray-primary) !important;
    transition: 0.2s;
}

.form-control,
.form-control:active,
.form-control:focus {
    background-color: var(--black-secondary);
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--gray-secondary);
    border-right: solid 2px var(--black-secondary);
    transition: 0.2s;
}

.form-control:hover {
    cursor: pointer !important;
}

.input-group-text {
    background-color: var(--black-secondary);
    border: none;
    color: var(--gray-secondary);
}

.form-control::-webkit-input-placeholder {
    color: var(--gray-secondary);
}

.input-group {
    width: 50% !important;
    border: solid 2px transparent;
    transition: 0.2s;
}

.input-group:hover {
    cursor: pointer !important;
}

.green-border {
    border: solid 2px var(--primary-green);
    border-radius: 3px;
}

.green-text {
    color: var(--secondary-green) !important;
}

.search-input-hover,
.search-input-hover:focus,
.search-input-hover:active,
.search-input-hover::-webkit-input-placeholder {
    color: var(--gray-tertiary);
}

.search-input-hover-border-right,
.search-input-hover-border-right:focus,
.search-input-hover-border-right:active,
.search-input-hover-border-right::-webkit-input-placeholder {
    border-right: solid 2px var(--black-secondary);
}

/* Navbar */
.navbar-darker {
    background-color: var(--black-primary);
    /* border-bottom: solid 1.5px rgb(17, 15, 15); */
    box-shadow: 0 2px 2px -2px rgb(0, 0, 0);
}

.navbar-darker a {
    color: var(--gray-primary) !important;
    text-decoration: none !important;
    border: solid 2px transparent;
    font-size: 2.4vh;
}
  
.navbar-darker a:hover {
    cursor: pointer;
    color: var(--primary-green) !important;
}

.navbar-brand {
    font-family: 'Inter-SemiBold', sans-serif;
}

.navbar-brand:hover {
    cursor: pointer;
}

.navbar-active a {
    color: var(--primary-green) !important;
    /* border-bottom: solid 2px var(--primary-green); */
}

.version-btn {
    border: none;
    color: var(--gray-primary);
    border-left: solid 1px var(--other);
    background-color: transparent;
}

.search-btn-mobile, .navbar-toggle-btn-mobile {
    border: none;
    background-color: transparent;
    color: var(--gray-primary);
    transition: 0.2s;
}


/* Hero */
.hero-header {
    font-family: 'Inter-SemiBold', sans-serif;
    color: var(--primary-green);
}

.hero-sub-header {
    font-family: 'Inter-SemiBold', sans-serif;
    color: var(--gray-primary);
}

.hero-paragraph {
    font-family: 'Inter', sans-serif;
    color: var(--gray-tertiary);
}

.section-darker {
    background-color: var(--black-primary) !important;
}

.hero-btn {
    color: var(--black-primary);
    background-color: var(--gray-primary);
}

.stats-header {
    font-family: 'Inter-SemiBold', sans-serif;
    color: var(--gray-primary)
}

.stats-paragraph {
    font-family: 'Inter-SemiBold', sans-serif;
    color: var(--gray-primary)
}

/* Punishments Row */
.flex-nowrap {
    overflow-x: auto;
}

.light-row {
    background-color: var(--dark-gray);
}

.permanent-line {
    border-left: 7px solid var(--red);
    height: 12vh;
    padding: 1vh;
}

.active-line {
    border-left: 7px solid var(--yellow);
    height: 12vh;
    padding: 1vh;
}

.expired-line {
    border-left: 7px solid var(--green);
    height: 12vh;
    padding: 1vh;
}

.permanent {
    font-family: 'Inter-SemiBold', sans-serif;
    background-color:var(--red);
    color: var(--gray-primary);
    padding: 0.8vh;
    border-radius: 5px;
}

.active {
    font-family: 'Inter-SemiBold', sans-serif;
    background-color: var(--yellow);
    color: var(--gray-primary);
    padding: 0.8vh;
    border-radius: 5px;
}

.expired {
    font-family: 'Inter-SemiBold', sans-serif;
    background-color: var(--green);
    color: var(--gray-primary);
    padding: 0.8vh;
    border-radius: 5px;
}

.punishment-row {
    background-color: #1d1d1e;
    color: var(--gray-primary);
    border-radius: 5px;
}

.category-text {
    font-family: 'Inter-SemiBold', sans-serif;
    color: var(--gray-primary);
    /* border-bottom: solid 5px var(--gray-primary); */
}

/* Navigation Modal */
.dark-modal-header {
    background-color: var(--black-primary);
}